In [2]:
import numpy as np
import pandas as pd
import time

In [15]:
from dateutil.parser import parse
print(time.mktime(parse('1998-02-03').timetuple()))
print(time.mktime(parse('2/3/1998').timetuple()))

886435200.0
886435200.0

In [ ]:
eval('1')

[1, 2, ['3', '4', '5']]

In [15]:
dataset=np.array([[1,2,3],[4,5,6],[7,8,9]])
# np.where(dataset[:,2]==3)+np.where(dataset[:,2]==3)
dataset[:,[1,2]]
#  + dataset[:,2]==6
# dataset[dataset[:,2] in [6,9]]

array([[2, 3],
       [5, 6],
       [8, 9]])

In [6]:
df=pd.read_csv('/home/liupengju/pycharmProjects/partition-api/queries/tpch-queries/encoding_tpch_qs.csv')

queries=df[df['tab']=='lineitem']
for qid,q in queries.iterrows():
    print((q['preds']))
    print(eval(q['scan']))

[[10, '<=', '1998-12-01']]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[[8, '=', 'R']]
[5, 6]
[[14, ' in ', "['MAIL', 'SHIP']"], [11, '>=', '1994-01-01'], [11, '<', '1995-01-01'], [12, '>=', '1994-01-01'], [12, '<', '1995-01-01']]
[14]
[[10, '>=', '1995-09-01'], [10, '<', '1995-10-01']]
[5, 6]
[]
[5, 4]
[]
[4, 0]
[[4, '>=', '1'], [4, '<=', '11'], [14, ' in ', "['AIR', 'AIR REG']"], [13, '=', 'DELIVER IN PERSON'], [4, '>=', '10'], [4, '<=', '20'], [14, ' in ', "['AIR', 'AIR REG']"], [13, '=', 'DELIVER IN PERSON'], [4, '>=', '20'], [4, '<=', '30'], [14, ' in ', "['AIR', 'AIR REG']"], [13, '=', 'DELIVER IN PERSON']]
[5, 6]
[]
[4]
[]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[[10, '>', '1995-03-15']]
[0, 5, 6]
[]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[]
[5, 6]
[[10, '>=', '1994-01-01'], [10, '<', '1995-01-01'], [6, '<=', '049999999999999996'], [6, '<=', '06999999999999999'], [4, '<', '24']]
[5, 6]
[[10, '<=', '1995-01-01'], [10, '<=', '1996-12-31']]
[10, 5, 6]

In [5]:
a=eval("[[4, '>=', '1'], [4, '<=', '11'], [14, ' in ', ""['AIR', 'AIR REG']""], [13, '=', 'DELIVER IN PERSON'], [4, '>=', '10'], [4, '<=', '20'], [14, ' in ', ""['AIR', 'AIR REG']""], [13, '=', 'DELIVER IN PERSON'], [4, '>=', '20'], [4, '<=', '30'], [14, ' in ', ""['AIR', 'AIR REG']""], [13, '=', 'DELIVER IN PERSON']]")
for item in a:
    c=None
    try:
        c=eval(item[2])
    except:
        c=item[2]
    print(c)

1
11
['AIR', 'AIR REG']
DELIVER IN PERSON
10
20
['AIR', 'AIR REG']
DELIVER IN PERSON
20
30
['AIR', 'AIR REG']
DELIVER IN PERSON

In [8]:
eval('1996-12-30')

1954

In [10]:
def is_valid_date(strdate):
        try:
            parse(strdate)
            return True
        except:
            return False

In [15]:
print(is_valid_date('16/10/1992'))
print(is_valid_date('1997-02-26'))
print(is_valid_date('2016-03-20 11:45:39'))

True
True
True

In [11]:
def col_parser(dataset):
    boundary=[]
    for col_id in range(dataset.shape[1]):
        print(type(dataset[0,col_id]))

    return boundary

In [12]:
dataset=pd.read_csv('../flaskr/algorithms/SCVP++/data/tpch/lineitem.csv',delimiter=',').values
# a=np.array(dataset[:,[13,14]],dtype=str)
# dataset[:,[13,14]]=np.char.strip(a)
# print(dataset)
temp_d=np.sort(dataset[:, 12])
print(len(temp_d))
# split_value =temp_d[int(len(temp_d)/2)] 
# print(split_value)
print(len(np.where(dataset[:, 12] < '23/12/1993')))

1199968
1

In [8]:
np.median(np.array(['1998','1997','1999']))

TypeError: cannot perform reduce with flexible type

In [12]:
col_parser(dataset)

<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>

[]

In [13]:
print(max('1999-02-03','1997-02-03'))

1999-02-03

In [15]:
print(len(set(['11','22','22'])))

2